.PostsList-line {
  display: flex;
  margin-bottom: 3px;
  @media only screen and (min-width: var(--breakpoint-sm)) {
    margin-bottom: 28px;
  }

  & > * {
    margin-right: 3px;
    @media only screen and (min-width: var(--breakpoint-sm)) {
      margin-right: 28px;
    }
    flex: 1;
  }
  & > :last-child { margin-right: 0; }
}