.PostDetails {
  max-width: var(--size-feed-post-width);
  background: white;
  border: 1px solid #dedede;
}

$base-color: transparent;
$shine-color: #e8e8e8;
$animation-duration: 1.6s;

@mixin background-gradient {
  background-image: linear-gradient(
    35deg,
    transparent 350px,
    #e8e8e8 400px,
    #e8e8e8 430px,
    transparent 480px
  );
  background-size: 3000px 1850px;
  background-repeat: no-repeat;
  background-position: 0 -680px;
}

@keyframes skeleton-animation {
  from {
    background-position: 0 -680px;
  }
  to {
    background-position: 0 -1830px;
  }
}

.PostDetails-imageContainer {
  position: relative;
  padding-top: 100%;
  background-color: #ddd;

  @include background-gradient;
  animation: skeleton-animation $animation-duration infinite linear;
}

.PostDetails-image {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.PostDetails-actions,
.PostDetails-description,
.PostDetails-createdAt,
.PostDetails-countLikes {
  padding: 0 16px;
}

.PostDetails-description {
  white-space: pre-line;
}

.PostDetails-actions {
  & > * {
    width: 24px !important;
    height: 24px !important;
    margin: 8px 8px 8px 0;
    cursor: pointer;
  }
}

.PostDetails-countLikes {
  margin-bottom: 8px;
}

.PostDetails-createdAt {
  padding-top: 12px;
  padding-bottom: 12px;
  color: grey;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
