.ProfileHeader {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.ProfileHeader-profilPictureContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-right: 30px;
}

.ProfileHeader-information {
  flex: 2;
}

.ProfileHeader-information-header {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  & > * {
    margin-right: 20px;
  }
}

.ProfileHeader-username {
  font-size: 25px;
}

.ProfileHeader-information-data {
  display: flex;
  & > * {
    margin-right: 20px;
  }
}

.ProfileHeader-information-name {
  margin-top: 25px;
}
