.ProfileHeader {
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.ProfileHeader-profilPictureContainer {
  flex: 1;
  margin-right: 30px;
  text-align: center;
}

.ProfileHeader-profilPicture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.ProfileHeader-information {
  flex: 2;
}

.ProfileHeader-username {
  font-size: 25px;
}

.ProfileHeader-setProfile {
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 20px;
  padding: 3px 5px;
  &:hover { cursor: pointer }
}

.ProfileHeader-settings {
  margin-left: 13px;
}

.ProfileHeader-information-data {
  display: flex;
  & > * {
    margin-right: 20px;
  }
}

.ProfileHeader-information-name {
  margin-top: 25px;
}