.PostPreview {
  background: lightgrey;
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.PostPreview-container {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.PostPreview-overData {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 500;

  svg {
    margin-right: 7px;
  }
}

.PostPreview-thumb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
