.Post {
  background: lightgrey;
  display: block;

  &:hover { cursor: pointer; }
}

.Post-container {
  padding-bottom: 100%;
  position: relative;
}

.Post-overData {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  font-weight: 500;

  svg { margin-right: 7px }
}

.Post-thumb {
  position: absolute;
  width: 100%;
}