$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  --size-app-max-width: 935px;
  --size-feed-post-width: 614px;
  --size-border-radius-button: 6px;
  --size-height-button: 28px;

  --color-info: #007bcb;
  --color-alert: #ed4956;
  --color-border: #dbdbdb;
}